    <!--  -->
    <div class="background">
        <div class="text">
            <p>When fashion meets cheap prices</p>
            <a href="/shopall"><input type="button" value="Shop Now" class="browse"></a>
        </div>
    </div>
    <!--  -->