<div class="categories">
    <p>Shop by categories</p>
    <div class="category">
        <a href="/man"><div id="man" class="section"><img src="/images/male/5.jpg" alt="">
            <p>For Man</p>
        </div></a>
        <a href="/woman"><div id="woman" class="section"><img src="/images/female/8.jpg" alt="">
            <p>For Woman</p>
        </div></a>
        <a href="/athletes"><div id="althelets" class="section"><img src="/images/althletes/2.jpg" alt="">
            <p>For Althelets</p>
        </div></a>
    </div>
</div>
<!--  -->