<footer>
    <div class="about">
        <div class="head">ABOUT THE SHOP</div>
        <p>At TitanFall, we are redefining the world of online fashion with our commitment to providing high-quality
            clothing at remarkably affordable prices. Our mission is simple: to empower you to embrace your unique
            style without compromising on quality or your budget.</p>
    </div>
    <div class="help">
        <div class="head">HELP</div>
        <ul>
            <li>FAQ</li>
            <li>Returns</li>
            <li>Care Instructions</li>
            <li>Email Support</li>
            <li>Changing or Modifying Order
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Return Policy</li>
            <li>International Shipping Policy</li>
        </ul>
    </div>
    <div class="newsletter">
        <div class="head">MESSAGE</div>
        <p>Have any problems or queries, message us we will try to reply you shortly</p>
        <form action="mailto:ankijit714@gmail.com" method="post" class="message">
            <input type="text" placeholder="Email us" name="subject">
            <button type="submit" class="letterbutton">Submit</button>
        </form>
    </div>

</footer>
<div class="copyright">
    <p>Copyright © Ankijit</p>
</div>


<script src="https://kit.fontawesome.com/633ffd52b2.js" crossorigin="anonymous"></script>
<script src="/javascript/responsivetab.js"></script>
<script>
    const button=document.getElementById('show');
    const trend=document.getElementById('trends');
    function showall(){
        if(trend.style.display!='grid'){
            trend.style.display='grid';
            button.value='show less'
        }
        else{
            trend.style.display='none';
            button.value='show more'
        }


    }
    
</script>
</body>

</html>