<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothes site</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1024px)" href="/css/extralarge.css">
    <link rel="stylesheet" media="screen and (max-width: 807px)" href="/css/large.css">
    <link rel="stylesheet" media="screen and (max-width: 654px)" href="/css/medium.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="/css/small.css">
    <link rel="stylesheet" media="screen and (max-width: 410px)" href="/css/extrasmall.css">
</head>

<body>
    <nav>
        <div class="menu" onclick="openmenu()">
            <div class="menubar">
                <div id="line1" class="line"></div>
                <div id="line2" class="line"></div>
                <div id="line3" class="line"></div>
            </div>

        </div>
        <div class="brand">Titanfall</div>
        <div class="logo">
            <div class="logo1 logos"><i class="fa-regular fa-user"></i></div>
            <div class="logo2 logos"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="logo3 logos"><i class="fa-solid fa-bag-shopping"></i></div>
        </div>
    </nav>
    <div id="sidemenu">
        <h1>Titanfall</h1>
        <hr>
        <li>Home</li>
        <li>MY profile</li>
        <li>Notifications</li>
        <li>About us</li>
        <li>Contact us</li>
        <hr>
        <li>My orders</li>
        <li>Coupons</li>
        <li>My cart</li>
        <li>My wishlist</li>
        <li>Offer zone</li>
        <hr>
        <li>Help centre</li>


    </div>