.menubar .line:nth-child(2),
.menubar .line:nth-child(3) {
    margin-top: 5px;
}

.background,.text{
    height: 600px;
}
.menubar .line {
    height: 2px;
    width: 22px;
}

#sidemenu li {
    font-size: 12px;
}

#sidemenu {
    top: 41px;
}

.brand {
    font-size: 1.3rem;
}

.logos {
    font-size: 0.9rem;
}

.text {
    font-size: 1.4rem;
}

.browse {
    font-size: 0.7rem;
}

.categories {
    margin: 28px 0 0px 0;
}

.categories>p {
    font-size: 1.7rem;
}

.trend {
    margin-top: 0px;
}

.trend>p {
    font-size: 1.7rem;
}

.trenditems {
    font-size: 12px;
}

.trendimage img {
    height: 10rem;
    width: 7rem;
}

.category img {
    height: 14rem;
    width: 10rem;
}

.section p {
    font-size: 15px;
}

.sectionimage {
    height: 350px;
}

footer {
    font-size: 12px;
}

.newsletter form {
    margin-top: 13px;
}

.sectionimage {
    height: 324px;
}

footer {
    font-size: 9px;
}
.head{
    font-size: 13px;
    margin-bottom: 30px;
}

.letterbutton {
    font-size: 9px;
}

.newsletter>form input{
    font-size: 12px;
}