*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgb(254, 229, 219);
    scroll-behavior: smooth;
}
nav{
    display:flex;
    justify-content: space-between;
    padding: 12px 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color:rgb(254, 229, 219);

}
.menu{
    margin-left: 7px;

}
#sidemenu{
    display: flex;
    position: fixed;
    flex-direction: column;
    left: -200px;
    top:57px;
    height: 100%;
    background-color:rgb(254, 229, 219) ;
   padding: 15px;
    line-height: 2.3;
    transition: 0.5s all;
    z-index: 2;
}
#sidemenu li{
    list-style: none;
    padding-left: 10px;
}

.menubar .line{
    background-color: black;
    height: 3px;
    width: 27px;
    transition: all 0.5s;
    
    
}
.menubar .line:nth-child(2),.menubar .line:nth-child(3){
    margin-top: 8px;
}

.brand{
    font-size: 2rem;
}

.logos{
    display: inline-block;
    margin-right: 7px;
    font-size: 1.2rem;
    font-weight: lighter;
    

}

.background{
    background: url("../images/background/background12.jpg");
    height: 796px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.text{
    display: flex;
   flex-direction: column;
   font-size: 2.5rem;
   height: 796px;
   justify-content: center;
   margin-left: 50px;
}

.browse{
    width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 13px;
    background: transparent;
    backdrop-filter: blur(3px);
    
}

.browse:hover{
    background-color: rgb(254, 229, 219) ;;
}
.categories{
    margin: 64px 0 40px 0;
}
.categories>p{
    font-size: 3rem;
    text-align: center;
}
.category{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
    
    
    
}
.category a{
    color: black;
}
.category img{
    height: 28rem;
    width: 20rem;
}

.section{
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}
.section p{
    width: 100%;
    height: 0%;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    transition: all 0.5s;
}
.section:hover p{
    height: 100%;
}

.trend{
    margin-top: 40px;
}
#trends{
    display: none;
}
.trend>p {
   font-size: 3rem;
   text-align: center;
   margin-bottom: 40px;
}

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3px;
    margin-bottom: 20px;
   
}

.trendname{
    font-weight: 600;
}

.trenditems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    
}
.trenditems:hover{
    box-shadow: 0 0 5px 5px   rgb(255, 209, 174);
}

.trendimage img{
    height: 20rem;
    object-fit: cover;
    width: 15rem;
 }

 .browse.all{
   
    display: block;
    margin: auto;
 }
 #linkshowmore{
    color: black;
    text-decoration: none;
 }

 .browse.all:hover{
    box-shadow: 0 0 5px 5px   rgb(255, 209, 174);
}
 .sectionimage{
    background-image: url("../images/background/background2.jpg");
    height:596px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top:50px;
    
 }

 footer{
    margin-top: 50px;
    height: 336px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
 }

 .copyright{
    height: 55px;
    background-color: rgb(254, 229, 219);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 40px 30px 0 30px;
 }
 .head{
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 600;
    
 }
.help{
    width: fit-content;
}
 .help li{
    list-style: none;
 }

 .newsletter form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
 }

 .newsletter>form input{
    height: 50px;
    border: 2px solid black;
    padding: 3px;
 }

 .letterbutton{
    padding: 5px 20px;
    background-color: white;
    width: fit-content;
    margin-top: 10px;
 }
 
 .letterbutton:hover{
    background-color: rgb(254, 229, 219);
 }
